:root {
  --body-color: #f2f2f2;
  --main-color: #206ef5;
  --main-color-light: #7cacff;
  --secondary-color: #ffb647;
  --price-color: #f94c02;
  --progress-bar-bg: #a8c8ff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input,
select,
textarea {
  background-color: transparent;
}
input,
button {
  background-color: transparent;
  outline: none;
  border: 0;
}
button {
  cursor: pointer;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

body {
  background-color: var(--body-color);
  min-height: 100vh;
}
section{
  margin: 20px 0;
  background-color: #fff;
}
.header {
  /* height: 80px; */
  background: #ffffff;
}
.logo {
  font-size: 32px;
}
.hero-section {
  margin-top: 120px;
}
.hero-section img {
  height: 400px;
}
.carousel-inner img {
  object-fit: cover;
}
.navbar {
  background: var(--main-color);
}
.row > * {
  margin-bottom: calc(1.5rem * 0.5);
}
.top-section {
  background-color: var(--secondary-color);
  border-radius: 5px 5px 0 0;
}
.top-section .title {
  text-transform: uppercase;
}
.flash-sale-percent {
  background-color: var(--secondary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  right: 0;
  top: 0;
}
.flashSale-section span{
  background-color: #b3b3b3;
  box-shadow: 0 0 4px #ccc;
  color: #363636;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.flashSale-section .carousel-control-prev{
  justify-content: start;
}
.flashSale-section .carousel-control-next{
  justify-content: end;
}
.product-card{
  transition: all .3s ease;
  min-height: 450px;
}
.product-card:hover{
  box-shadow: 0 0 10px #ccc;
}
.product-card .card-body > * {
  margin-top: 10px;
}
.product-card .card-title {
  font-weight: 500;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.product-card .card-price .current-price {
  font-size: 1.5rem;
  color: var(--price-color);
}
.product-card .card-price .old-price {
  font-size: 1.2rem;
  color: #a7a7a7;
  text-decoration: line-through;
}
.product-card .progress {
  height: 24px;
  background-color: var(--progress-bar-bg);
}
.progress-label {
  font-size: 1rem;
  color: #fff;
  left: 0;
  right: 0;
  height: 100%;
}
.footer {
  height: 50px;
  background-color: #fff;
}
